.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:45px;
    right:0px;
    background-color: white;
    font-weight:bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    width: 20px;
}

li a:hover {
    color: rgb(46, 1, 1);
    text-decoration: none;
}

li a {
    color: #000;
    text-decoration: none;
    color: maroon;
}
.help {
    padding: 8px 16px;
    border-bottom: 1px solid #e5e5e5;
    width: 130px;
    position: relative;
    z-index: 2;
}

.help:last-child {
    border-bottom: none;
}

.help:hover {
    background-color: #e5e5e5;
    color: white;
}

.dropDownStyling {
    color: maroon;
    text-shadow: 1px 1px 1px #bbadad;
}

.dropDownStyling:hover {
    color: rgb(53, 0, 0);
    text-shadow: 1px 1px 1px #bbadad;
}

@media only screen and (max-width: 450px) {
    .dropDownStyling {
      font-size: 15px;
    }
}

.help1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    top:45px;
    right:0px;
    font-weight:bold;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
