.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.registerPage {
  text-align: center;
}

.loginPage {
  text-align: center;
}

.loginPageTitle {
  text-shadow: 2px 2px 2px white;
}

.linkColor {
  color: #61dafb;
}

body {
  background-color: rgb(138, 138, 153);
}

.dashboard {
  text-align: center;
}

.dashboardTitle {
  text-shadow: .5px .5px .5px whitesmoke;
  background-color: rgb(124, 85, 85);
  box-shadow: 2px 2px 2px rgb(194, 188, 188);
}   

.dashboardTableStyling {
  box-shadow: 2px 2px 2px white;
  margin: auto;
}

.dashboardTableHeadStyling {
  box-shadow: 2px 2px 2px cyan;
}
